 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-image-1 {
  width: 491px;
  height: 422px;
  margin: 40px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-image-1 {
    width: 316px;
    height: 292px;
    margin-top: 25px;
    margin-bottom: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 127px;
}

.u-section-2 .u-text-2 {
  margin: 26px 171px 0 127px;
}

.u-section-2 .u-group-elements-1 {
  width: 881px;
  min-height: 230px;
  height: auto;
  margin: 20px auto 0 164px;
}

.u-section-2 .u-image-1 {
  width: 68px;
  height: 68px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: 40px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 68px;
  height: 68px;
  margin: -14px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 68px;
  height: 68px;
  margin: -173px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -112px 261px 0 77px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 26px 0 0 77px;
}

.u-section-2 .u-text-5 {
  margin: 26px 202px 0 77px;
}

.u-section-2 .u-text-6 {
  margin: 26px 289px 0 77px;
}

.u-section-2 .u-text-7 {
  margin: 20px 171px 20px 127px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 14px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin: 36px 35px 40px 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 127px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
    min-height: 256px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 68px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -16px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -195px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -114px;
    margin-right: 115px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 19px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 56px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 62px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-2 {
    width: 413px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
    min-height: 283px;
    margin-top: 11px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 70px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -219px;
  }

  .u-section-2 .u-text-3 {
    width: 386px;
    margin-top: -118px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 37px;
    margin-bottom: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 304px;
    min-height: 372px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 146px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 22px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -277px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -163px;
    margin-right: 0;
    margin-left: 76px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 24px;
    margin-left: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1796px;
}

.u-section-3 .u-text-1 {
  margin: 20px -23px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -28px 98px 0 120px;
}

.u-section-3 .u-text-3 {
  margin: 28px 98px 0 120px;
}

.u-section-3 .u-text-4 {
  margin: 0 203px 0 147px;
}

.u-section-3 .u-text-5 {
  margin: 28px 220px 60px 120px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -55px;
    margin-right: 38px;
    margin-left: 58px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 53px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 103px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 122px;
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1663px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -66px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 62px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 21px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2014px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1753px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1753px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -1px;
    margin-right: 17px;
    margin-left: 35px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-bottom: 42px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 362px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 10px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 361px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 38px auto 0 52px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 52px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -48px auto 0 52px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-4 .u-group-1 {
  width: 238px;
  min-height: 51px;
  height: auto;
  margin: 23px auto 0 52px;
}

.u-section-4 .u-btn-3 {
  margin: 0 206px 0 0;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  font-size: 2em;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: -36px 20px 0 auto;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 274px;
  min-height: 52px;
  height: auto;
  margin: 18px auto 0 52px;
}

.u-section-4 .u-image-1 {
  width: 34px;
  height: 34px;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: -29px 18px 0 auto;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 361px;
}

.u-section-4 .u-container-layout-4 {
  padding: 26px 33px;
}

.u-section-4 .u-image-2 {
  width: 502px;
  height: 309px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-4 .u-image-2 {
    width: 404px;
    height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 330px;
    height: 244px;
    margin-top: 20px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-2 {
    width: 425px;
    height: 283px;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    width: 301px;
    margin-top: 11px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 188px;
}