 .u-section-1 {
  background-image: url("images/FB_IMG_1695038322588.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-1 .u-text-1 {
  margin: 620px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 413px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 14px 23px 76px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 380px;
}

.u-section-2 .u-text-1 {
  margin: 31px 802px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 31px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-right: 583px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 191px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
    margin-bottom: 35px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-3 {
  background-image: url("images/nueces.jpeg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-3 .u-list-1 {
  width: 1182px;
  margin: 74px auto 10px -53px;
}

.u-section-3 .u-repeater-1 {
  min-height: 918px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 10px 2px;
}

.u-section-3 .u-image-1 {
  width: 550px;
  height: 366px;
  margin: 0 -20px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 11px 167px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 10px 2px;
}

.u-section-3 .u-image-2 {
  width: 550px;
  height: 366px;
  margin: 0 -20px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 11px 167px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 10px 2px;
}

.u-section-3 .u-image-3 {
  width: 550px;
  height: 366px;
  margin: 0 -20px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 11px 167px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 10px 2px;
}

.u-section-3 .u-image-4 {
  width: 550px;
  height: 366px;
  margin: 0 -20px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 11px 167px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-3 .u-list-1 {
    width: 1010px;
    margin-right: -75px;
    margin-bottom: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 818px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 420px;
    height: 357px;
    margin-right: 65px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    width: 420px;
    height: 357px;
    margin-right: 65px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    width: 420px;
    height: 357px;
    margin-right: 65px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    width: 420px;
    height: 357px;
    margin-right: 65px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    width: 533px;
    margin-right: 167px;
  }

  .u-section-3 .u-image-2 {
    width: 533px;
    margin-right: 167px;
  }

  .u-section-3 .u-image-3 {
    width: 533px;
    margin-right: 167px;
  }

  .u-section-3 .u-image-4 {
    width: 533px;
    margin-right: 167px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 520px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 520px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 214px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 214px;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 214px;
  }

  .u-section-3 .u-image-4 {
    width: 320px;
    height: 214px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 362px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 10px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 361px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 38px auto 0 52px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 52px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -48px auto 0 52px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-4 .u-group-1 {
  width: 238px;
  min-height: 51px;
  height: auto;
  margin: 23px auto 0 52px;
}

.u-section-4 .u-btn-3 {
  margin: 0 206px 0 0;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  font-size: 2em;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: -36px 20px 0 auto;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 274px;
  min-height: 52px;
  height: auto;
  margin: 18px auto 0 52px;
}

.u-section-4 .u-image-1 {
  width: 34px;
  height: 34px;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: -29px 18px 0 auto;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}