.u-section-1 .u-sheet-1 {
  min-height: 437px;
}

.u-section-1 .u-image-1 {
  width: 465px;
  height: 400px;
  margin: 0 auto 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 292px;
  }
}